<div class="container-fluid">
  <ul *ngFor="let i of todo" class="card card-group">
    <div class="card-body row">
      <div class="row card-title">
        <div>
          <span>
            <input
              type="checkbox"
              class="form-check-input"
              id="{{ i.id }}"
              (click)="Selectedid(i,$event)"
          /></span>
          {{ i.id }} <span class="date-span">{{ i.created_date }}</span>
        </div>
      </div>
      <hr />
      <li class="card-text">{{ i.task }}</li>
      <li class="card-subtitle card-body">
        <a class="btn btn-primary" routerLink="/update/{{ i.id }}">Edit</a
        >&nbsp;&nbsp;
        <button class="btn btn-secondary" (click)="delete(i)">Delete</button>
      </li>
    </div>
  </ul>
  <button (click)="deleteAll()">Delete ALL</button>
</div>
